@page "/html-encode"
@using System.Text.Encodings.Web

<h1>HTML Encode / Decode</h1>

<textarea class="form-control code" @bind="text"></textarea>

<div>
    <button class="btn btn-primary" @onclick="Encode">Encode</button>
</div>

@if (result != null)
{
    <pre class="result">@result</pre>
}

@code {
    string text;
    string result;

    void Encode()
    {
        result = HtmlEncoder.Default.Encode(text ?? "");
    }

}