@page "/"

<h2>Tools</h2>


<div class="ml-2 mt-4">
    <h4 class="mb-2">Formatting</h4>

    <div class="row">
        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 p-0 custom-card">
            <a href="json-formatter" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">JSON Formatter</h5>
                    <p class="card-text">Format or Minify JSON</p>
                </div>
            </a>
        </div>

        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="xml-formatter" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">XML Formatter</h5>
                    <p class="card-text">Format or Minify XML</p>
                </div>
            </a>
        </div>

        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="comma-separator" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">Comma Separator</h5>
                    <p class="card-text">Separate text with custom character, include spaces, set type of quotes</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="ml-2 mt-4">
    <h4 class="mb-2">Encoding / Decoding</h4>

    <div class="row">
        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="base64-encode" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">Base64 Encode / Decode</h5>
                    <p class="card-text">Encode or decode Base64 string or file in UTF or ASCII</p>
                </div>
            </a>
        </div>

        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="html-encode" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">HTML Encode</h5>
                    <p class="card-text">Encode HTML</p>
                </div>
            </a>
        </div>

        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="json-string-encoder" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">Json string Encode / Decode</h5>
                    <p class="card-text">Encode or decode Json string</p>
                </div>
            </a>
        </div>

        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="url-encode" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">URL Encode / Decode</h5>
                    <p class="card-text">Encode or decode URL</p>
                </div>
            </a>
        </div>

        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="xml-encode" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">XML Encode / Decode</h5>
                    <p class="card-text">Encode or decode XML elements or attributes</p>
                </div>
            </a>
        </div>

        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="yaml-string-encoder" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">YAML string Encode / Decode</h5>
                    <p class="card-text">Encode or decode YAML string</p>
                </div>
            </a>
        </div>

        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="hash-data" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">Hash data</h5>
                    <p class="card-text">Hash data string or file with SHA1 / SHA256 / SHA512 in UTF or ASCII</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="ml-2 mt-4">
    <h4 class="mb-2">Converting</h4>

    <div class="row">
        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="yaml-to-json" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">YAML To JSON</h5>
                    <p class="card-text">Convert YAML to JSON text</p>
                </div>
            </a>
        </div>

        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="numbers" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">Numbers converter</h5>
                    <p class="card-text">Convert Numbers to Decimal, Hexa, Octal or Binary</p>
                </div>
            </a>
        </div>

        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="byte-converter" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">Bytes converter</h5>
                    <p class="card-text">Convert Bytes to most used types</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="ml-2 mt-4">
    <h4 class="mb-2">Generators</h4>

    <div class="row">
        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="new-guid" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">GUID Generator</h5>
                    <p class="card-text">Generate UUIDs and GUIDs</p>
                </div>
            </a>
        </div>

        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="loremipsum" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">Lorem Ipsum Generator</h5>
                    <p class="card-text">Generate Lorem Ipsum text</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="ml-2 mt-4">
    <h4 class="mb-2">Characters</h4>

    <div class="row">
        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="char-info" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">Char Info</h5>
                    <p class="card-text">Character info in type of UTF char, category, block</p>
                </div>
            </a>
        </div>

        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="string-info" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">String Info</h5>
                    <p class="card-text">String info in type of length, UTF char, category, block</p>
                </div>
            </a>
        </div>

        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="regex-tester" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">Regex Tester</h5>
                    <p class="card-text">Regex tester and pattern creator. Includes different kind of evaluations</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="ml-2 mt-4">
    <h4 class="mb-2">Expressions</h4>

    <div class="row">
        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="crontab" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">Crontab</h5>
                    <p class="card-text">Single expression composed in 'MINUTES HOURS DAYS MONTHS DAYS-OF-WEEK'</p>
                </div>
            </a>
        </div>

        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="rrule" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">Recurrence Rule (RFC 5545)</h5>
                    <p class="card-text">Time Recurrence rules based on (RFC 5545) 'FREQ=DAILY;INTERVAL=1'</p>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="ml-2 mt-4">
    <h4 class="mb-2">GitLab</h4>

    <div class="row">
        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="retry-gitlab-job" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">Retry GitLab jobs (detect flakiness)</h5>
                    <p class="card-text">Retry GitLab jobs (detect flakiness)</p>
                </div>
            </a>
        </div>

        <div class="card col-11 col-sm-5 col-md-3 col-lg-2 mr-2 ml-2 mb-4 custom-card">
            <a href="run-gitlab-pipelines" class="mr-1 ml-1 custom-link">
                <div class="card-body">
                    <h5 class="card-title">Run GitLab pipelines (detect flakiness)</h5>
                    <p class="card-text">Run GitLab pipelines (detect flakiness)</p>
                </div>
            </a>
        </div>
    </div>
</div>