<div class="top-row pl-4 navbar navbar-dark mb-5">
    <a class="navbar-brand" href="">Developer Tools</a>

    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://portfolio.hasaj.net">Portfolio</a>
        </li>
    </ul>
</div>